<% if Settings::Geoportal.enabled -%>
  <div class="row">
    <div class="col-12">
      <%= link_to tag.i('', class: 'fa fa-globe'), external_map_url(issue),
            class: 'btn btn-sm btn-outline-primary', title: Settings::Geoportal.name,
            target: '_blank', rel: :noopener %>
      <%= t('.coordinates', x: issue.lon_external(round: true), y: issue.lat_external(round: true)) %>
    </div>
  </div>
<% end -%>
