<div class="row">
  <div class="col-12">
    <%= t 'issues.form.rejection.report_to' %> <%= form.object.group.name -%>
    <%= form.submit t('.reject'), class: 'btn btn-primary', name: 'reject' %>
  </div>
</div>
