<div class="form-group row">
  <%= label_tag :job_date, 'Datum', class: 'label-control col-md-2' %>
  <div class="col-md-3">
    <%= text_field_tag :job_date, @date, class: 'form-control datepicker' %>
  </div>
</div>
<div id="grouped-jobs">
  <%= render partial: 'grouped_jobs' %>
</div>
