<div id="issues-map">
  <div class="row">
    <div class="col-12">
      <div id="map" class="map"
           data-filter="<%= @filter.to_json %>"
           data-extended-filter="false"
           data-controller="jobs">
        <%= render partial: 'map_toggle' %>
      </div>
    </div>
  </div>
</div>

<% content_for :footer do -%>
  <div class="float-end">
    <%= link_to t(:back), jobs_path(@filter.merge(active_group_id: @filter[:group_id])), class: 'btn btn-primary' %>
  </div>
<% end -%>
