<div class="row">
  <div class="col-3">
    <h6>Konzept und Betreuung</h6>
    <p>
      Hanse- und Universitätsstadt Rostock<br>
      Kataster-, Vermessungs- und Liegenschaftsamt<br>
      Holbeinplatz 14<br>
      18069 Rostock<br>
      Telefon: +49 381 381-6281<br>			
      E-Mail: <a href="mailto:klarschiff.hro@rostock.de">klarschiff.hro@rostock.de</a>
    </p>
  </div>
  <div class="col-3 offset-1">
    <h6>Technische Realisierung</h6>
    <p>
      BFPI Büro für praktische Informatik GmbH<br>
      Fleckebyer Str. 1<br>
      18239 Satow
    </p>
  </div>
</div>
<div class="row">
  <h6>Lizenzbestimmungen</h6>
  <p>
    Das Backoffice von Klarschiff.HRO ist unter der Freien-Software-Lizenz <a href="https://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Apache License v2.0</a> auf <a href="https://github.com/bfpi/klarschiff-backoffice" target="_blank">GitHub</a> veröffentlicht.
  </p>
</div>
