<%= form_for completion, remote: true do |f| %>
  <%= f.hidden_field :status, value: 'rejected' %>
  <div class="row mb-2">
    <%= f.label :notice, class: 'col-12 col-form-label' %> 
    <div class="col-12">
      <%= f.text_area :notice, class: 'form-control', rows: 5 %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Hinweis: Die eingegebene Hinweisnachricht wird an die E-Mail-Adresse des Abschlussmelders versendet.
    </div>
  </div>
<% end -%>
