<div id="issues-map">
  <div class="form-group row">
    <div class="col-md-12">
      <div id="map" class="map"
           data-filter="<%= @filter %>"
           data-extended-filter="false"
           data-controller="delegations">
      </div>
    </div>
  </div>
</div>

<% content_for :footer do -%>
  <div class="float-right">
    <%= link_to t(:back), delegations_path(status: @status), class: 'btn btn-primary' %>
  </div>
<% end -%>
