<div id="issues-map">
  <div class="row">
    <div class="col-12">
      <div id="map" class="map"
           data-filter="<%= @filter %>"
           data-extended-filter="false"
           data-controller="delegations">
        <%= render partial: 'map_toggle' %>
      </div>
    </div>
  </div>
</div>

<% content_for :footer do -%>
  <div class="float-end">
    <%= link_to t(:back), delegations_path(filter: { status: @status }), class: 'btn btn-primary' %>
  </div>
<% end -%>
