
$font-size-base: 0.9rem;
$h1-font-size: $font-size-base * 1.6;
$table-cell-padding: 0.5rem;
$spinner-width: 1rem;
$yellow: #f80;

@import 'ol/ol';
@import 'autocomplete';
@import 'maps';
@import 'bootstrap';
@import 'bootstrap-datepicker';
@import 'font-awesome';
@import 'jquery-ui/core';
@import 'jquery-ui/dialog';
@import 'jquery-ui/theme';
@import 'jquery-ui/menu';
@import 'jquery-ui/autocomplete';

.form-check {
  padding-left: 0;
}

nav.navbar {
  margin-bottom: 1em;
}

.content.container {
  padding-bottom: 50px;
}

.footer {
  @extend .fixed-bottom;
  @extend .py-2;
  background-color: $gray-200;
  border-top: 1px solid $secondary;
}

.status-icon.received {
  opacity: 0.7;
}

#photos {
  div.actions {
    margin-bottom: 0.5em;

    a.rotate {
      margin-right: 1em;
    }
  }
}

tr.dragged-row td {
  background-color: #bbb;
}

#accordion .card {
  margin-bottom: 1em;
}

#map.print-map {
  height: 400px;
  left: -10000px;
  position: absolute;
  top: -10000px;
  width: 900px;
}

.modal-body.no-padding {
  padding: 0;
}

.modal-body .abuse-report textarea,
.modal-body .comment textarea {
  width: 100%;
}

.card.border-warning .card-header {
  background-color: $warning;
}

.card-header {
  > a {
    cursor: pointer;
  }
}

#image-sources {
  display: none;
}

.divider {
  border-bottom: 1px solid #ddd;
}

.priority-icon {
  color: #f80;
}

.trust-icon {
  color: #c3bb19;
}

table.statistics {
  background-color: #737373;
  border: 1px solid #737373;
  border-collapse: separate;
  border-radius: 5px;
  padding: 0;

  td {
    text-align: center;
    vertical-align: middle;
  }

  td.bar-open {
    background-color: #ff3700;
  }

  td.bar-in-process {
    background-color: #f5e123;
  }

  td.bar-closed {
    background-color: #50c80f;
  }

  th,
  td {
    border-bottom: 0;
    border-top: 0;
  }
}

td.action,
th.action {
  width: 1em;
}

.inner-table tr:last-of-type td {
  border-bottom: 0;
}

a {
  text-decoration: none;
}

.row + .row {
  margin-top: 1rem;
}

label[for=filter_text] {
  --bs-gutter-x: 0;
}

input#filter_text {
  margin-left: 9px;
}

.ui-dialog {
  z-index: 2000;
}

.ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}

.ui-dialog-buttonpane button {
  margin: 0.5em 0.4em 0.5em 0;
}

.ui-dialog-titlebar-close {
  display: none;
}
