/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$font-size-base: 0.9rem;
$h1-font-size: $font-size-base * 1.6;
$table-cell-padding: 0.5rem;
$spinner-width: 1rem;

@import 'bootstrap';
@import 'font-awesome';
@import 'jquery-ui/core';
@import 'jquery-ui/theme';
@import 'jquery-ui/menu';
@import 'jquery-ui/autocomplete';

nav.navbar {
  margin-bottom: 1em
}

.footer {
  @extend .fixed-bottom;
  @extend .py-2;
  background-color: $gray-200;
  border-top: 1px solid $secondary;
}

.autocomplete .spinner-border {
  display: none;
  position: absolute;
  right: 0.75em;
  top: 0.75em;
  z-index: 20;
}
