.review-map {
  height: 220px !important;
}

#map {
  height: 400px;
  position: relative;
  width: 100%;

  .map-toggler {
    background-color: #0d6efd;
    color: #fff;
    max-width: 150px;
    position: absolute;
    right: 1.5em;
    top: 0.5em;
    z-index: 1;
  }

  button.toggle {
    color: #fff;
    display: block;
    width: 100%;
  }
  
  .card-header {
    padding: 1px;
  }

  .card-body {
    padding: 0.25rem;
  }
}

#issues-map {
  .map {
    height: 800px;
  }
}
