/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require ol
 *= require_tree .
 *= require_self
 */

body.print-pdf {
  font-size: 120% !important;
}

body.print-pdf h1 {
  font-size: 150% !important;
}

body.print-pdf h2 {
  display: inline-block;
  font-size: 130% !important;
  font-weight: bold;
  margin-left: -15px;
  margin-top: 1em;
}

body.print-pdf .row {
  display: flex;
  flex-wrap: wrap;
}

body.print-pdf .row > * {
  float: left;
  margin-bottom: 0.5em;
  min-height: 1.5em;
}

body.print-pdf div.label {
  font-weight: bold;
  padding-left: 0;
}

body.print-pdf div.photo {
  float: left;
  margin-bottom: 1em;
  width: 50%;
}

body.print-pdf div.photo > * {
  float: left;
}

body.print-pdf div.photo > div {
  margin-left: 0.5em;
  margin-top: 0.5em;
}
