/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'font-awesome';

body {
  font-size: 120% !important;
}

h1 {
  font-size: 150% !important;
}

h2 {
  display: inline-block;
  font-size: 130% !important;
  font-weight: bold;
  margin-top: 1em;
}

table {
  border: 0;
  border-collapse: collapse;
  width: 100%;
}

table td {
  padding: 5px;
}

table td .right {
  position: absolute;
  right: 0;
}

tr .col-1 {
  width: 10em;
}

tr .col-2 {
  width: 20em;
}

tr .col-4 {
  width: 40em;
}

tr .col-9 {
  width: 90em;
}

td.label {
  font-weight: bold;
  padding-left: 0;
}

td.photo {
  float: left;
  margin-bottom: 1em;
  width: 50%;
}

td.photo > * {
  float: left;
}

td.photo > div {
  margin-left: 0.5em;
  margin-top: 0.5em;
}

span.title {
  color: #747474;
}
