<% if @success -%>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= @success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% end -%>
