<div class="alert alert-danger" role="alert">
  <%= t('activerecord.errors.authorization_error') %>
</div>
<% content_for(:footer) do -%>
  <%= link_to(t('back'), 'javascript:history.back();', role: :button,
        class: 'btn btn-secondary btn-primary float-right') %>
<% end -%>
