name: Stylesheets

on:
  - push
  - workflow_call

jobs:
  stylelint:
    name: CSS files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '22'
      - run: bin/stylelint
